.index-warp {
    position: fixed;
    bottom: 94px;
    left: 0px;
    right: 0px;
    z-index: 11;
}

.cars-item {
    background-color: #fff;
    border-radius: 24px;
    height: 257px;
    width: 505px;
    padding: 30px;
    margin: 0 auto;
    // 兼容各个浏览器的
    @include webkit(box-shadow, 0 0 18px 0 rgba(0, 0, 0, .2));
    @include webkit(box-sizing,border-box);
    header{
        display: flex;
        h4, p{
            flex: 1;
        }
    }
}
.cars-logo{
    img{
        display: inline-block;
        height: 34px;
        vertical-align: middle;
        margin-right: 10px;
    }
    .name{
        font-size: 16px;
    }
}
.cars-arrt{
    font-size: 14px;
    text-align: right;
    line-height: 34px;
    opacity: .5;
}